        .row {
            display: flex;
            justify-content: center !important;
            padding-right: 5%;
        }
        
        .Center {
            line-height: 1.0;
            text-align: center;
            padding: 8px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding-left: 5%;
        }
        
        .img {
            width: 250px;
            height: auto;
            object-fit: cover;
            border: 5px solid white;
            border-radius: 15px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }
        
        .menu-area {
            padding: 90px;
        }
        
        .link {
            color: white;
            background-color: transparent;
            text-decoration: none;
        }
        
        .button {
            height: 41px;
            font-size: 17px;
            background-color: hsla(71, 100%, 10%, 0.87);
            font-weight: bold;
            border: none;
            border-radius: 15px;
            justify-content: center;
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }
        
        Button:hover {
            background-color: orange;
            color: hsla(71, 100%, 10%, 0.87);
        }
        
        footer {
            display: flex;
            justify-content: space-around;
            background-color: hsla(71, 100%, 10%, 0.87);
            color: white;
            padding: 20px;
            position: relative;
            /* bottom:0; */
            border: 5px solid white !important;
            border-radius: 10px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .copyright {
            font-size: large;
            float: left;
            padding-left: 50px;
            font-size: 18px;
        }
        
        nav {
            background-color: hsla(71, 100%, 10%, 0.87);
            line-height: 80px;
            display: flex;
            align-items: center;
            border: 5px solid white;
            border-radius: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }
        
        .logo {
            width: px;
            margin-left: 20px;
        }
        
        .nav-item {
            margin-left: 20px;
            text-decoration: none;
            color: white;
            font-size: 30px;
        }
        
        .our-location {
            font-size: 30px;
            padding-left: 36%;
            line-height: 1.5;
            letter-spacing: 12px;
            color: white;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .chat-withus {
            font-size: 30px;
            padding-left: 19% !important;
            line-height: 1.5;
            letter-spacing: 12px;
            color: white;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .map-left {
            padding-left: 24% !important;
            float: left;
            justify-content: space-around;
            padding: 15px;
        }
        
        .Chatbox-right {
            padding-right: 24% !important;
            float: right;
            justify-content: space-around;
            padding: 15px;
        }
        
        .info {
            display: flex;
            justify-content: space-around;
            background-color: hsla(71, 100%, 10%, 0.87);
            border: 5px solid white;
            border-radius: 10px;
        }
        
        .map {
            border: 8px solid black !important;
            border-radius: 5px;
            font: bold;
        }